@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

body{
    font-family: 'Mooli','Arial','Helvetica', 'sans-serif';
    margin: 0;
    text-align: center;
    
}


main h1{
    margin: 0 auto;
    padding: 10px;
}

main{
    
    gap: 1rem;
    background-color: grey ;

    



}

header, footer{
    background-color: blueviolet;
    color: white;
    margin: 0;
    padding: 10px;
    
}
/* footer {
    color white;
} */



nav a{
    display: block;
    color: white;
    justify-content: space-around;
    padding: 10px;

}

figure img {
	max-width: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: white solid 10px;
    box-shadow: 10px 10px 10px 0px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
   

}
button:hover{
    color: yellowgreen;
}

button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.6rem;

   
}

.viewer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    
    
    


}
.close-viewer{
    font-size: 2rem;
    cursor: pointer;
    vertical-align: top;
    margin: 75px auto;

}

.viewer img{
    display: inline;
    width: 60%;
    margin: 75px auto;
    /* object-fit: contain; */
   
}


@media screen and (min-width: 700px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
    .header button{
        display: none;
    }
    nav{
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        display: flex;
    }

  }









@media screen and (min-width: 1000px) {
    .gallery {
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    

}







