h1{font-family: 'Times New Roman', Times, serif;
   /* align-items: center; */
   /* letter-spacing: 2px;
   text-transform: capitalize;
   font-size: 50px; */

}

h3 {font-family: 'Times New Roman', Times, serif;
    /* font-size: 1.5em; */
    color: #006EB6;
    /* align-items: center; */
    letter-spacing: 2px;
    text-transform: capitalize;
    /* font-size: 30px; */
}

.content {
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    /* max-width: 600px; */
    margin: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 1.5em;
}

/* body{
    align-items: center;
} */
.text{
    text-align: left;
}
img{
    width: 150px;
    
}
li{
    padding: 10px;
}

header{
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    line-height: 1em;
}

.special{
    font-style: italic;
}

.dark{
    background-color: #333;
    color: white;
    border-color: white;
    
}

.dark h3{
    color: rgb(52, 106, 224)
}

.dark .content{
    border: solid 1px white;
}
